/*���������*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Sora', sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  cursor: default;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  min-height: 3000px;
  background: #F0F0F0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
.conteiner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.progect {
  margin-top: 6rem;
  height: 65px;
}
.proj {
  width: 100%;
  border-radius: 22px;
  background: #1C1D1F;
  padding: 21px 0;
  text-align: center;
  transition: 0.3s;
}
.proj:hover {
  background: #5c5c5c;
}
.btn__text {
  font-size: 1.2rem;
  color: #FCFCFF;
  position: relative;
}
.project__arrow {
  position: absolute;
  right: 43%;
  top: 25%;
}
.header {
  width: 100%;
  height: 10vh;
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding: 2.33rem 0;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #1C1D1F;
}
.bnt__nav {
  padding: 12.5px 28.5px;
  color: #FCFCFF;
  font-size: 1.2rem;
  border: 1px solid #1C1D1F;
  border-radius: 22px;
  background: #5125FF;
  margin-right: 1rem;
  transition: 0.3s;
}
.bnt__nav:hover {
  background: #915eff;
}
.burger__nav {
  width: 70px;
  height: 48px;
  border: 1px solid #1C1D1F;
  border-radius: 22px;
  position: relative;
  transition: 0.3s;
}
.burger__nav:hover {
  background: rgba(204, 204, 204, 0.6);
}
.burger__nav::after,
.burger__nav::before {
  content: '';
  width: 30px;
  height: 1.5px;
  position: absolute;
  top: 17px;
  left: 20px;
  background: #1C1D1F;
  transition: 0.3s;
}
.burger__nav::before {
  top: 27px;
}
.main {
  padding-top: 10rem;
  height: 90vh;
}
.main__content {
  display: flex;
  justify-content: space-between;
}
.left__content--main {
  margin-top: 11rem;
}
.main__title {
  width: 590px;
  font-size: 3.6rem;
  font-weight: 700;
  color: #1C1D1F;
  margin-bottom: 0.9rem;
}
.main__title > span {
  color: #5125FF;
}
.main__subtitle {
  font-size: 1.33rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
}
.main__button {
  width: 173px;
  height: 51px;
  border-radius: 22px;
  background: #1C1D1F;
  color: #FCFCFF;
  font-size: 1.2rem;
  padding: 14px 32px;
  padding-right: 61px;
  position: relative;
  transition: 0.3s;
}
.main__button:hover {
  background: #727272;
}
.main__button:hover .arrow {
  right: 25px;
}
.arrow {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: 0.3s;
}
.scroll {
  margin-right: 8px;
}
.scroll__block {
  display: flex;
  margin-top: 11.4rem;
  align-items: center;
}
.text__scroll {
  font-weight: 600;
  font-size: 0.9rem;
  color: #1C1D1F;
}
.about {
  width: 100%;
  height: 753px;
  background: #1C1D1F;
}
.about__content {
  padding-top: 5.26rem;
}
.about__title {
  color: #FCFCFF;
  font-size: 4.8rem;
  letter-spacing: -0.24rem;
  margin-bottom: 8rem;
}
.about__blocks {
  display: flex;
  justify-content: space-between;
}
.character__title {
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: #FCFCFF;
  font-weight: 600;
}
.character__text {
  width: 292px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #FCFCFF;
}
.moretop {
  margin-top: 3.46rem;
}
.selected__button {
  margin: 0 auto;
  max-width: 653px;
  margin-top: 3rem;
  color: #5125FF;
  border: 1px solid #1C1D1F;
  font-size: 4.8rem;
  letter-spacing: -0.24rem;
  padding: 24px 34px;
  padding-left: 100px;
  position: relative;
  border-radius: 50px ;
  cursor: default;
}
.photo__selec {
  position: absolute;
  top: 50px;
  left: 45px;
}
.ad {
  margin-top: 6.66rem;
  margin-top: 3.3rem;
  height: 690px;
}
.ad__conteiner {
  display: flex;
  justify-content: space-between;
  height: 735px;
  position: relative;
}
.ad__conteiner::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 1px;
  background: #9F9F9F;
}
.ad__conteiner::before {
  content: '2021';
  position: absolute;
  bottom: -5px;
  left: 10px;
  color: #9F9F9F;
}
.ad__title {
  font-size: 7.86rem;
  color: #1C1D1F;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.ad__subtitle {
  width: 389px;
  font-size: 1.2rem;
  margin-bottom: 1.33rem;
}
.buttons__brend {
  display: flex;
  margin-bottom: 4rem;
}
.brand {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 9px 12px;
  margin-right: 0.9rem;
  background: #E3E3E3;
  gap: 10px;
  border-radius: 7px;
  transition: 0.5s;
}
.brand:hover {
  background: #1C1D1F;
  color: #FCFCFF;
}
.text__ad {
  margin-top: 10rem;
  padding-left: 1rem;
  z-index: 10;
}
.photo__ad {
  position: relative;
}
.brend__photo {
  position: absolute;
  top: 0;
  right: 1rem;
}
.case {
  align-items: center;
  padding: 14px;
  padding-left: 19px;
  padding-right: 50px;
  position: relative;
  color: #1C1D1F;
  width: 160px;
  height: 48px;
  gap: 13px;
  border: 1px solid #1C1D1F;
  border-radius: 22px;
  font-size: 1.1rem;
  transition: 0.3s;
}
.case:hover {
  background: rgba(204, 204, 204, 0.6);
}
.arrow2 {
  position: absolute;
  right: 23px;
  top: 19px;
}
.two {
  top: 78px;
  right: 0rem;
}
.three {
  top: 100px;
}
