//  main: ../style.less


.main{
    padding-top: 10rem;
    height: 90vh;
}
.main__content{
    display: flex;
    justify-content: space-between;
}
.left__content--main{
    margin-top: 11rem;
}
.main__title{
    width: 590px;
    font-size: 3.6rem;
    font-weight: 700;
    color: @black;
    margin-bottom: 0.9rem;
}
.main__title>span{
    color: @blue;
}
.main__subtitle{
    font-size: 1.33rem;
    font-weight: 600;
    margin-bottom: 3.6rem;
}
.main__button{
    width: 173px;
    height: 51px;
    border-radius: 22px;
    background: @black;
    color: @white;
    font-size: 1.2rem;
    padding: 14px 32px;
    padding-right: 61px;
    position: relative;
    transition: .3s;
    &:hover{
        background: rgb(114, 114, 114);
    }
    &:hover .arrow{
        right: 25px;
    }
}
.arrow{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: .3s;
}
.scroll{
    margin-right: 8px;
}
.scroll__block{
    display: flex;
    margin-top: 11.4rem;
    align-items: center;
}
.text__scroll{
    font-weight: 600;
    font-size: 0.9rem;
    color: @black;
}